.container {
  border: 3px solid #f8d660;
  margin: 0 0 30px;
  padding: 10px;
}

.container h2 {
  margin: 0 0 10px;
}

.container button {
  margin-top: 1em;
  transition-duration: 0.4s;
  background: #f8d660;
  border-radius: 1em;
  border: none;
  padding: 0.5em;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}

.container button:hover {
  background: #f7d045;
  transform: scale(1.05);
}

